@media (max-width: 650px) {
    .app {
        width: 400px;
    }

    footer .icons {
        width: 300px;
    }

    footer a {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 450px) {
    .app {
        width: 300px;
    }

    button {
        padding: 10px 10px;
        font-size: 1em;
    }

    footer .icons {
        width: 200px;
    }

    footer a {
        width: 60px;
        height: 60px;
    }
}